.field {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  margin-bottom: 4px;
  opacity: 0.9;
}

input,
textarea {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.08);
  color: white;
  font-size: 14px;
}

textarea {
  resize: none;
}

.poti {
  display: none;
}